################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Risovalka/.vs/Risovalka/FileContentIndex/0dfd6225-a39d-4cf2-9c0a-e1c98742f7d2.vsidx
